/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --clr-red: #FF5830;
  --clr-yellow: #fc3;
  --clr-green: #26DB4E;
  --clr--txt: #111;
  --clr-white: #fff;
}

/* Reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: var(--clr--txt);
}

/* Typography */
li {
  list-style: none;
}

a {
  display: inline-block;
  color: var(--clr-white);
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

header {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.6rem;
  margin-bottom: 20px;
}

header span {
  color: var(--clr-red);
}

.circle {
  font-weight: 500;
  font-size: 1.2rem;
}

.circle_label {
  font-size: 1.4rem;
  font-weight: 700;
  padding-left: 10px;
}

.circle--commits {
  font-size: 0.9rem;
}

.circle--experience {
  color: var(--clr-white);
}

.content_title {
  font-weight: 700;
}

.content_title--section {
  font-size: 1.2rem;
}

img {
  display: block;
  width: 100%;
}

.content_links {
  width: 50px;
}

/* Styles start here */
nav {
  background-color: var(--clr--txt);
}

ul {
  display: flex;
}

.link {
  padding: 13px 9px;
  border-right: 0.5px solid rgb(58, 58, 58);
}

.link--contact {
  border: none;
}

.home a {
  padding-right: 50px;
  padding-left: 20px;
}

section {
  padding: 65px 20px 0 20px;
}

.content_highlights {
  padding-top: 30px;
}

.content_highlight {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.circle {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--clr-yellow);
}
.circle--experience {background-color: var(--clr-red);}
.circle--commits {background-color: var(--clr-green);}

.content--project {padding-top: 30px;}
.content_body {padding: 10px 0;}
.content_body img {
  margin-top: 30px;
  border: 1px solid var(--clr--txt);
}
.content_body--section {padding: 10px 0 20px 0;}

.projects,
.thanks,
.reach-me {
  padding-bottom: 65px;
}
.reach-me {
  background-color: var(--clr-yellow);
}
.content_links {
  margin-top: 30px;
  width: inherit;
}
.content_link {
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
}

.content_link img {
  max-width: 50px;
}

/* Desktop Styles */
section > div,
ul {
  max-width: 880px;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .link {
    border: none;
  }

  .home a {
    padding-right: 50px;
    padding-left: 0;
  }

  header {
    font-size: 3.3rem;
    text-align: center;
  }

  .content_highlights {
    display: flex;
    justify-content: space-between;
  }

  .circle_label {
    font-size: 1rem;
  }

  .content {
    display: flex;
  }

  .content_title {
    min-width: 300px;
  }

  .content_body {
    padding: 0;
  }

  .content--projects,
  .content--reach-me,
  .content--thanks {
    display: block;
  }
  .content--projects .content_body
  .content--reach-me .content_body{
    max-width: 550px;
  }
}

